/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(fonts.googleapis.com/css?family=Raleway);

.row {
	margin-top:15px;
	overflow: auto;
}

.jumbotron {
    text-align: center;
	background-color: white;
	height: 325px;
	color: #009f9b;
	padding-top: 25px;

    h1 {
        padding-top: 20px;
        font-family: 'Raleway', 'Helvetica Neue', Helvetica;
        color: #009f9b;
        font-weight: 400;
    }
    
    p {
        font-family: 'Raleway', 'Helvetica Neue', Helvetica;
        color: #009f9b;
    }
}


h4 {
	font-family: Raleway;
	color: #000000;
	margin-top: 8px;
}


.profile-panel {
    position: relative
}

/*.profile-image {
    position: absolute;
    border: 2px solid #BADA55;
    width: 60px;
    height: 60px;
    left: 25px;
    bottom: 10px;
    
}*/

.profile-container {
    position: absolute;
    border: 2px solid #009f9c;
    left: 10px;
    bottom: 15px;
    width: 75px;
    height: 75px;
}


/* resize images */
.profile-container img {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
    font-size: 13px;
    min-height: 70px;
    left: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica; 
}

.btn btn-lg btn-primary {
	background-color: #009f9b;
}

#mainButtons {
	width: 100%;
	font-family: Raleway;
	margin-top: 30px;
	position: relative;
	overflow: auto;
}

button {
	border-radius: 2px;
	background-color: #009f9b;
	color: #FFFFFF;
	height: 50px;
	width: 130px;
}

.btn-primary {
	background-color: #009f9b;
	padding: 15px;
	border-color: #009f9b;
}

/* .btn-primary:hover,
.btn-primary:active,
.btn-primary:focus { 
        background-color: #FFF;
        color: #009f9b;
		border-color: #009f9b;
}*/

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #FFF !important;
  color: #009f9b !important;
  border-color: #009f9b !important;
}

.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #FFF;
  color: #009f9b;
  border-color: #009f9b;
}



@media (max-width: 375px) {
  
h1 {
	padding-top: 20px;
	font-family: 'Raleway';
	color: #009f9b;
	font-size: 30px;
}

.jumbotron {
	text-align: center;
	background-color: white;
	height: 300px;
	color: #009f9b;
	padding-top: 5px;
}

.btn-primary {
	background-color: #009f9b;
	padding: 5px;
	margin-bottom: 20px;
	border-color: #009f9b;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #FFF !important;
  color: #009f9b !important;
  border-color: #009f9b !important;
}

.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #FFF;
  color: #009f9b;
  border-color: #009f9b;
}

}
